<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ReviewVO" type="com.omgm.user.review.bean.ReviewVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/review-mapping.xml"/>
	</mappers>
</configuration>
