<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ReviewVO" type="com.omgm.user.review.beans.ReviewVO"/>
		<typeAlias alias="ReviewReplyVO" type="com.omgm.user.review.beans.ReviewReplyVO"/>
		<typeAlias alias="faq" type="com.omgm.user.faq.beans.FAQVO" />
		<typeAlias alias="category" type="com.omgm.user.faq.beans.CategoryVO" />
		<typeAlias alias="catcarelog" type="com.omgm.user.catcarelog.beans.CatCareLogVO" />
		<typeAlias alias="mypet" type="com.omgm.user.mypet.beans.MyPetVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mappings/review-mapping.xml"/>
		<mapper resource="mappings/faq-mapping.xml" />
		<mapper resource="mappings/category-mapping.xml" />
		<mapper resource="mappings/catcarelog-mapping.xml" />
		<mapper resource="mappings/mypet-mapping.xml" />
	</mappers>
</configuration>
