/*div 관련 텍스트*/

#reviewList_board {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-bottom: 8%;
	margin-top: 8%;
	margin-left: 12%;
	margin-right: 12%;
	justify-content: center;
}

.reviewList_head_sub_text {
	width: 100%;
	color: #555;
	line-height: 1.7em;
	margin-top: 5%;
	/*margin-bottom: 3%;*/
	border-top: 1px solid #868e96;
	padding-top: 3%;
	padding-bottom: 3%;
}

.reviewList_main_sector {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #868e96;
	padding-bottom: 3%;
	justify-content: flex-start;
}

.reviewList_line {
	display: flex;
	flex-direction: column;
	margin-right: 2%;
	margin-left: 2%;
	/*justify-content: flex-start;*/

}

.reviewList_button {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 1%;
	margin-bottom: 3%;
	border-bottom: 1px solid #868e96;
}

/* 이미지 관련 설정 */
.reviewList_img {
    width: 110%;
    height: auto;
    margin-bottom: 3%;

}

/* 텍스트 관련 설정 */
.main_head_text {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.reviewList_text {
	margin-bottom: 3%;
	margin-top: 1%;
	font-size: 18px;
}

.reviewList_sub_text{
    margin-bottom: 3%;
    opacity: 80%;
}

@media (max-width: 768px) {
	.reviewList_img {
		width: 100%;
		height: auto;
	}

	.reviewList_sub_text {
		margin-bottom: 9%;
		opacity: 80%;
		font-size: small;
	}

	.reviewList_text {
		margin-bottom: 3%;
		margin-top: 1%;
		font-size: 14px;
	}
}