/*div 관련 텍스트*/
#reviewList_board {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 8%;
    margin-top: 8%;
    justify-content: center;
}

.reviewList_head_sub_text{
    width: 90%;
    color: #555;
    line-height: 1.7em;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.reviewList_3img_line {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    width: 90%;
}

.reviewList_3text_line{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
}

.reviewList_3text_div00{
    width: 20%;
    margin-left: 2%;
}

.reviewList_3text_div01{
    width: 18%;
}

.reviewList_3text_div02{
    width: 20%;
    margin-right: 2.5%;
}

/*text 관련 텍스트*/
.main_head_text {
    font-size: 50px;
    color: #222;
    letter-spacing: 0;
    text-align: center;
    line-height: 1em;
    font-family: 'yg-jalnan';
    margin-bottom: 35px;
}

.reviewList_sub_text {
    text-align: center;
}

.reviewList_3text01 {
text-align: center;
}

/* 이미지 관련 설정 */
.reviewList_img01 {
    width: 15%;
    height: auto;
    margin: 3%;
}

@media (max-width: 768px) {
    .reviewList_img01 {
        width: 30%;
        height: auto;
        margin: 3%;
    }
}

