/* div 테그 확인 */
#deliveryStatus {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.box-numberInfo {
    background: #f2f2f2 no-repeat center 51px;
    position: relative;
    text-align: center;
    padding-top: 5%;
    border-top: 7px solid lightcoral;
    border-bottom: 3px solid lightcoral;
}

.box01 {
    margin-top: 3%;
    border: 1px solid lightslategray;
    display: flex;
}

.left-box01 {
    display: flex;
    border-right: 1px solid gray;
    border-right-style: dashed;
    width: 50%;
    background-color: whitesmoke;
}

.left-box02 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
    padding-left: 3%;
    width: 50%;
}

.right-box01 {
    background-color: whitesmoke;
    padding-left: 3%;
    width: 50%;
}
/* 텍스트 관련 설정 */
.box-p-text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box-pInfo {
    font-size: 200%;
    padding-top: 3%;
    margin-left: 3%;
}
.right-box01-p {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 20px;
    font-weight: bolder;
}
.box-pNum {
    color: #c51162;
    font-size: 200%;
    font-weight: bold;
    margin-top: 4%;
}

/* 이미지 관련 설정*/
.boxImg {
    width: 30%;

}

/* 입력 박스 관련 설정 */
.box-inputText {
    box-sizing: border-box;
    height: 50px;
    padding: 0 30px;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-left: solid 1px #e5e5e5;
    font-size: 16px;
    line-height: 50px;
    color: #007ac3;
    background: #fff;
    margin-bottom: 3%;

}

@media (max-width: 768px) {
    .box-pNum {
        color: #c51162;
        font-size: 100%;
        font-weight: bold;
        margin-top: 4%;
    }
    .box-pInfo {
        font-size: 100%;
        padding-top: 3%;
    }
}