/*이미지 슬라이더*/
.proList_main h2{
    display:flex;
    justify-content:center;
    padding-top:40%;
    font-weight:bold;
    font-size:30px;
}

.proList_body .slider_img {
    width: 76%;
    height: 0vw;
    position: relative;
    margin: 0 auto;

}

.proList_body .slider_slide {
    width: 75vw;
    height: 35vw;
    background-size: cover;
    border-radius: 10px;
    animation: fade 1.5s;
    display: none;
    margin: 0 auto;
}

.proList_body .slider_prev,
.proList_body .slider_next {
    cursor: pointer;
    position: absolute;
    top: 18vw;
    transform: translateY(-50%);
    padding: 16px;
    color: rgb(248, 248, 248);
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 5px;
}

.proList_body .slider_next {
    right: 0;
}

.proList_body .slider_prev:hover,
.proList_body .slider_next:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*카테고리*/
.proList_main .category{
    display:flex;
    justify-content:center;
    margin-top:50px;
}

.proList_main .category button{
    display:flex;
    margin-left:30px;
    margin-right:30px;
    border:none;
    background:none;
    font-size:19px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
}

/*상품리스트*/
.proList_body {
    overflow: hidden;
}
.event_list{
    width: 99%;
}
.event_list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    /*padding-left: 5%;*/
    /*padding-top: 80px;*/
}

.event_list li {
    flex: 0 1 24%;
    padding: 0 0 34px;
}

.event_list li a {
    display: block;
    position: relative;
    width: 248px;
    height: 382px;
    line-height: 1;
    border: 1px solid #ddd;
}

.event_list li a .img {
    overflow: hidden;
    position: relative;
    width: 246px;
    height: 272px;
    border-bottom: 1px solid #ddd;
}

.event_list li a .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.event_list li a .info {
    padding: 29px 10px 0;
}

.event_list li a .info strong {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #222;
}

.event_list li a p {
    padding: 20px 0 0;
    font-size: 13px;
    color: #888;
}

.event_list li a p span {
    color: #F28888;
    font-size: 15px;
}

.event_list li a em {
    /*position: absolute;*/
    /*right: 2%;*/
    /*top: 3%;*/
    /*z-index: 2;*/
    /*width: 24%;*/
    /*height: 15%;*/
    /*border-radius: 100%;*/
    /*background: rgba(0, 0, 0, .5);*/
    /*color: #fff;*/
    /*font-size:15px;*/
    /*text-align: center;*/
    /*line-height: 60px;*/
}

.product_form{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 70%;
    /*padding-top: 60px;*/
}

/*하단 페이징*/
.pro_paging {
    padding: 28px 0 60px;
}

.pro_paging ul {
    display: flex;
    justify-content: center;
}

.pro_paging a {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    padding-right: 0.5%;
    font-size: 15px;
    color: #555;
}

.pro_paging a:hover,
.pro_paging a.on {
    background: lightskyblue;

    color: #fff;
}

.pro_paging li {
    margin: 0 7px;
}

.pro_paging .first {
    margin: 0 16px 0 0;
    background: url(../../img/sales/prev-first.png) no-repeat center;
}

.pro_paging .prev {
    margin: 0 6px 0 0;
    background: url(../../img/sales/paging-prev.png) no-repeat center;
}

.pro_paging .next {
    margin: 0 0 0 6px;
    background: url(../../img/sales/paging-next.png) no-repeat center;
}

.pro_paging .last {
    margin: 0 0 0 16px;
    background: url(../../img/sales/next-last.png) no-repeat center;
}

.pro_paging .first a:hover,
.pro_paging .prev a:hover,
.pro_paging .next a:hover,
.pro_paging .last a:hover {
    background: none;
}

.hide, caption span {
    display: block;
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.paging ul, .event_list ul {
    list-style-type: none;
}

.proList_body .img {
    width: 228px;
}

a {
    color: #666;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

/* 페이지 네이션 */
#pageNextColor:hover, #pageNextColor:focus {
    border:1px solid #87CEFA;
    background-color: #87CEFA;
}

@media screen and (max-width: 480px) {
    .proList_main h2 {
        display: flex;
        justify-content: center;
        padding-top: 40%;
        font-weight: bold;
        font-size: 21px;
    }


    .proList_main .category button {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        border: none;
        background: none;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }

    .event_list ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 30px;
    }
}

@media screen and (max-width: 1008px) {

    .event_list ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-left: 12%;
        padding-top: 30px;
    }

}

@media screen and (max-width: 1024px) {
    /*이미지 슬라이더*/
    .proList_main h2{
        display:flex;
        justify-content:center;
        padding-top:10%;
        font-weight:bold;
        font-size:24px;
    }

    .proList_body .slider_img {
        width: 76%;
        height: 0vw;
        position: relative;
        margin: 0 auto;

    }

    .proList_body .slider_slide {
        width: 75vw;
        height: 40vw;
        background-size: cover;
        border-radius: 10px;
        animation: fade 1.5s;
        display: none;
        margin: 0 auto;
    }

    /*   상품리스트   */
    .proList_main h2{
        padding-top:45%;
    }
    .event_list ul {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        padding-left: 0%;
        padding-top: 30px;
    }

    .event_list li {
        flex: 0 1 18%;
        padding: 0 0 34px;

    }

    .event_list li a {
        display: block;
        position: relative;
        width: 231px;
        height: 350px;
        line-height: 1;
        border: 1px solid #ddd;
    }

    .event_list li a .img {
        overflow: hidden;
        position: relative;
        width: 229px;
        height: 250px;
        border-bottom: 1px solid #ddd;
    }
}






