body{
    font-family: "Montserrat";
}
#productInquiry_searchbox{
    width: 90%;
    margin: 10px auto;
}
.header{
    background: #4e73df;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.header h1{
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 8px;
}
#value{
    border: none;
    background: #FFFFFF;
    padding: 6px;
    font-size: 18px;
    width: 80%;
    border-radius: 6px;
    color: black;
}
#value:focus{
    outline: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background: #EFFBFB;
    padding: 1%;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin: 3% 0px;
    display: flex;
    margin: 2%;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
    background: darkblue;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    margin-right: 8px;
}
.name{
    font-size: 17px;
    font-weight: 470;
    color: #333;
}