h2{
    text-align: center;
    padding-top:65px;
    font-size:25px;
    font-weight:bold;
}


#pro_write{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display:block;

}

#point{
    width:10%;
}

label{
    width:15%;
    text-align:center;

}

div{
    display:flex;
    margin-top:1%;

}

.title{
    width:100%;
    height:20%;
}

#register_Btn{
    position: absolute;
    left: 97%;
    top: 105%;
    transform: translate(-50%,-50%);
}


